.hero-section {
    background-image: url('../image/1.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-align: center;
}

.hero-section .content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.hero-section h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-section .btn {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #f39c12;
    color: #ffffff;
    cursor: pointer;
}
